body {
    margin: 0 auto;
    min-width: 608px;
    
    background-color: rgb(46, 47, 51);
}
.grid-background {
    margin: 0 auto;
    position: relative;
    width: 608px;
    height: 608px;
    background-color: #A5EFF9;
}

.winSplash {
    padding-top: 40%;
    position: absolute;
    width: 608px;
    height: 60%;
    background-color: rgb(46, 47, 51, 0.75);
    text-align: center;
    font-size: 50px;
    color: white;
    
}

.top {
    margin: 40px auto;
    width: 608px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

#win-tracker {
    margin: 40px auto;
    text-align: center;
    font-size: 12px;
    color: white;
}

.grid {
    position: absolute;
    font-family: sans-serif;
    display: inline-block;
    height: 200px;
    width: 200px;
    font-size: 175px;
    text-align: center;
    line-height: 200px;
    background-color: #2E2F33;
}

.col {
    position: absolute;
    width: 8px;
    height: 580px;
    top: 14px;
}

.row {
    position: absolute;
    height: 8px;
    width: 580px;
    left: 14px;
}

.dia {
    position: absolute;
    width: 12px;
    height: 608px;
    left: 298px;
}

#c1r1 {
    top: 0px;
    left: 0px;
}

#c2r1 {
    top: 0px;
    left: 204px;
}

#c3r1 {
    top: 0px;
    left: 408px;
}

#c1r2 {
    top: 204px;
    left: 0px;
}

#c2r2 {
    top: 204px;
    left: 204px;
}

#c3r2 {
    top: 204px;
    left: 408px;
}

#c1r3 {
    top: 408px;
    left: 0px;
}

#c2r3 {
    top: 408px;
    left: 204px;
}

#c3r3 {
    top: 408px;
    left: 408px;
}
.playerx {
    color: green;
  
}

.playero {
    color: red;
}

p {
    text-align: center;
    color: white;
}