body {
    margin: 0 auto;
    width: 608px; 
}
.grid-background {
    margin: 0 auto;
    position: absolute;
    width: 608px;
    height: 608px;
    background-color: black;
}

.grid {
    position: absolute;
    font-family: sans-serif;
    display: inline-block;
    height: 200px;
    width: 200px;
    font-size: 175px;
    text-align: center;
    line-height: 200px;
    background-color: white;
}

#c1r1 {
    top: 0px;
    left: 0px;
}

#c2r1 {
    top: 0px;
    left: 204px;
}

#c3r1 {
    top: 0px;
    left: 408px;
}

#c1r2 {
    top: 204px;
    left: 0px;
}

#c2r2 {
    top: 204px;
    left: 204px;
}

#c3r2 {
    top: 204px;
    left: 408px;
}

#c1r3 {
    top: 408px;
    left: 0px;
}

#c2r3 {
    top: 408px;
    left: 204px;
}

#c3r3 {
    top: 408px;
    left: 408px;
}
.playerx {
    color: green;
  
}

.player0 {
    color: red;
}
